[build]
  publish = "."
  command = "echo 'No build step required'"

[[redirects]]
  from = "/api/*"
  to = "http://localhost:5001/:splat"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
